body{
font-family:Arial;
background:#0f0f0f;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#1e1e1e;
padding:25px;
border-radius:10px;
width:350px;
}

input,select{
width:100%;
padding:8px;
margin:6px 0;
border-radius:5px;
border:none;
}

button{
width:100%;
padding:10px;
background:#00aaff;
border:none;
border-radius:5px;
color:white;
cursor:pointer;
}

button:hover{
background:#0088cc;
}

a{
display:block;
margin-top:15px;
color:#00ddff;
}